<!DOCTYPE html>
<html lang="eng">
<head>
    <title>New Administrator | MyRestaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/administrator.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container new-restaurant-container p-5 shadow">
    <h1 class="mb-4 text-center">New Administrator</h1>

    <form action="/administrator/new-admin" method="POST">
        <div class="form-group mb-4">
            <label for="administrators-first-name">First Name</label>
            <input type="text" name="first_name" id="administrators-first-name" class="form-control" required>
        </div>

        <div class="form-group mb-4">
            <label for="administrators-last-name">Last Name</label>
            <input type="text" name="last_name" id="administrators-last-name" class="form-control" required>
        </div>

        <div class="form-group mb-4">
            <label for="administrators-username">Username</label>
            <input type="text" name="username" id="administrators-username" class="form-control" required>
        </div>

        <div class="form-group mb-4">
            <label for="administrators-email">Email Address</label>
            <input type="email" name="email" id="administrators-email" class="form-control" required>
        </div>

        <div class="form-group mb-4">
            <label for="administrators-password">Password</label>
            <input type="text" name="password" id="administrators-password" class="form-control" required>
        </div>
<!--
        <div class="form-group mb-4">
            <label for="administrators-restaurant-name">Restaurant Name</label>
            <input type="text" name="restaurant_name" id="administrators-restaurant-name" class="form-control" required>
        </div>
-->
        <div class="form-group mb-4">
            <label for="administrators-restaurant-name">Choose Restaurant</label>
            <select id="administrators-restaurant-name" name="restaurantId" class="form-select" aria-label="Default select example">
                <% restaurants.forEach(restaurant => { %>
                    <option value="<%= restaurant._id %>"><%= restaurant.name %></option>
                <% }) %>
            </select>
        </div>

        <a href="/administrator" class="btn btn-secondary btn-new-cancel">Cancel</a>
        <button type="submit" class="btn btn-primary btn-new-save">Save</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
